# Database Configuration
DATABASE_URL="postgresql://postgres:admin123@localhost:5435/srmalldb"

# Next.js Configuration
NODE_ENV="development"

# Cloudinary Settings
CLOUDINARY_CLOUD_NAME="dpg3ooznl"
CLOUDINARY_API_KEY="133911819249566"
CLOUDINARY_API_SECRET="gya1MhT0oGd8ts8GvRokecyNo6c"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dpg3ooznl"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="ml_default"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://caywuflktxjcvxafbmnt.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNheXd1ZmxrdHhqY3Z4YWZibW50Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4MDQ1MzQsImV4cCI6MjA3OTM4MDUzNH0.6z7EOj_t9eakulcAMuw3_1-733nWTpDxYPN94qLSbv8"
NEXT_PUBLIC_APP_URL="http://192.168.0.112:3000"

# Gmail (App Password method)
GMAIL_USER="jerickaradilla76@gmail.com"
GMAIL_APP_PASSWORD="aqahkzjhkerpaffs"
